<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean name="testBean" class="tinyspring.ioc.step4.TestBean">
        <property name="name" value="这是名字"></property>
        <property name="sex" value="这是性别"></property>
        <property name="id" value="123456"></property>
    </bean>
</beans>